.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: toRem(15);
    z-index: 999;
    display: block;
    // margin-bottom: 100px;
    // position: sticky;
    // top: 0;
    // bottom: auto;

    &__logo {
        width: 4rem;
        height: 3.5rem;
    }

    &__link {
        border-bottom: 1px solid transparent;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-bottom: toRem(10);
        font-weight: 500;
        margin-left: 2rem;

        &:not(:last-child) {
            margin-right: toRem(20);
        }

        &:hover,
        &--active {
            border-color: red;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__drawer {
        width: 100%;
        margin-top: 10px;
    }

    &__drawer-item {
        display: none;
        width: 100%;
    }
    &__user-container {
        // background: #000;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    &__user-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.button-ghost {
    border-color: rgb(23, 114, 121);
    color: rgb(23, 114, 121);

    &:hover,
    &:focus {
        background-color: rgb(127, 206, 211) !important;
        border-color: rgb(23, 114, 121) !important;
        // box-shadow: none !important;
        color: rgb(99, 99, 99) !important;
    }
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(rgb(61, 61, 61), 0.3) !important;
    }
}
