.section-signUp {
    margin-top: 6rem;
    height: auto;
    min-height: 100vh;
    width: 55%;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
}
.form-group {
    margin: 1rem;
}
.form-control {
    height: calc(1.5em + 0.75rem + 2px);
}
