@import "~react-responsive-carousel/lib/styles/carousel.min.css";

.section-tourDetail {
    margin-top: 6rem;
    height: auto;
    min-height: 100vh;
}
.card {
    border: none;
}
.tourDetail_title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.carousel-slider {
    height: 70vh;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 4rem;
    margin-top: 3rem;
}
.bookNow_btn {
    width: 50%;
    height: 3rem;
    font-size: 1.5re;
    margin: auto;
    margin-top: 2rem;
}
